<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free/css/all.min.css">

<link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/icons/apple-touch-icon.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/icons/favicon-32x32.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/icons/favicon-16x16.png' | relative_url }}">
<link rel="manifest" href="{{ '/assets/icons/site.webmanifest' | relative_url }}">
<meta name="msapplication-TileColor" content="#E6E6FA">
<meta name="theme-color" content="#E6E6FA">

<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- You can set your favicon here -->
{% if site.favicon %}
  <link rel="shortcut icon" type="image/x-icon" href="{{ '/assets/icons/favicon.ico' | relative_url }}">
{% endif %}
<link rel="stylesheet" href="{{ "/assets/custom_css/styles.css?v=" | append: site.github.build_revision | relative_url }}">

{% assign crumbs = page.url | remove: '/index.html' | split: '/' %}
<script type="application/ld+json">
{ "@context": "https://schema.org", "@type": "BreadcrumbList",
"itemListElement": [{
    "@type": "ListItem", "position": 1,
    "name": "{{ site.title | default: "Home" }}",
    "item": "{{ site.url }}"
{% for crumb in crumbs offset: 1 %}
},{
    "@type": "ListItem", "position": {{ forloop.index | plus: 1 }},
    "name": "{% if forloop.last %}{{ page.title }}{% else %}{{ site.data.sections[crumb].name | default: crumb | capitalize }}{% endif %}",
    "item": "{{ site.url }}{% assign crumb_limit = forloop.index %}{% for crumb in crumbs offset: 1 limit: crumb_limit %}/{{ crumb }}{% endfor %}"
{% endfor %}
}]
}
</script>
<script type="application/ld+json">
  {
    "@context": "https://schema.org/",
    "@type": "Person",
    "name": "Jasmine Angle",
    "image": {
      "@type": "ImageObject",
      "url": "{{ site.logo | absolute_url }}"
    },
    "url": "{{ site.url }}",
    "jobTitle": "CS 61C Teaching Assistant",
    "worksFor": {
      "@type": "Organization",
      "name": "University of California, Berkeley",
      "url": "https://berkeley.edu/",
      "sameAs": "https://www.wikidata.org/wiki/Q168756",
      "location": "Berkeley, CA"
    },
    "email": "",
    "description": "Fourth-year EECS major at UC Berkeley.",
    "gender": "Female",
    "givenName": "Jasmine",
    "familyName": "Angle",
    "affiliation": {
      "@type": "Organization",
      "name": "University of California, Berkeley",
      "url": "https://berkeley.edu/",
      "sameAs": "https://www.wikidata.org/wiki/Q168756",
      "location": "Berkeley, CA"
    },
    "knowsLanguage": "en"
  }
  </script>
<!-- end custom head snippets -->