{% case site.color-scheme %}
  {% when "", nil, false, 0, empty %}
    {% assign ColorScheme = "auto" %}
  {% else %}
    {% assign ColorScheme = site.color-scheme %}
{% endcase %}

<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% seo title=false %}
    <meta property="og:image" content="{{ site.logo | absolute_url }}">
    <meta name="twitter:card" content="summary_small_image">
    <meta property="twitter:domain" content="{{ site.url_domain_only }}">
    <meta name="twitter:image" content="{{ site.logo | absolute_url }}">
    <title>{{ page.title }} | {{ site.title_suffix }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/colors-ColorScheme.css?v=" | replace: "ColorScheme", ColorScheme | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/bootstrap.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/layout.css?v=" | append: site.github.build_revision | relative_url }}">

    <link rel="preload" href="{{site.logo | relative_url}}" as="image">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="anim-gradient-container top d-flex justify-content-center flex-column">
      <div class="anim-gradient d-flex align-items-center justify-content-center flex-column">
        <div class="container row w-100">
          <div class="col-md-12 text-start">
            <h1 class="fw-light">Hi, I'm <strong>Jasmine Angle</strong>!</h1>
            <h3 class="fw-light"><b>
              My updated website is at <a style="color:#000;" href="https://jasmangle.com">jasmangle.com</a>.
              <span id="ctdw" class="d-none"><br>You will be automatically redirected in <span id="ctd">5</span> <span id="ctt">seconds</span>.</span>
            </b></h3>
          </div>
        </div>
      </div>
    </div>

    <script>
      document.getElementById("ctdw").classList.remove('d-none');
      var txt = document.getElementById("ctt");
      var div = document.getElementById("ctd");
      setInterval(function() {
        var count = div.textContent * 1 - 1;
        div.textContent = max(0, count);
        txt.textContent = count == 1 ? "second" : "seconds";
        if (count <= 0) {
          window.location.replace("https://jasmangle.com" + window.location.pathname + window.location.search);
        }
      }, 1000);
    </script>
  </body>
</html>
